* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: #050b18;
    color: white;
}


/* MENU */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    background: #0f172a;
}


nav h1 {
    color: #38bdf8;
}


nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
}


nav a:hover {
    color: #38bdf8;
}


/* ACCUEIL */

.hero {
    text-align: center;
    padding: 100px 20px;
}


.hero h2 {
    font-size: 45px;
    margin-bottom: 25px;
}


.hero p {
    font-size: 20px;
    color: #cbd5e1;
    max-width: 700px;
    margin: auto;
    line-height: 1.6;
}


/* BOUTON */

button {
    margin-top: 40px;
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    background: #0284c7;
    color: white;
    font-size: 18px;
    cursor: pointer;
}


button:hover {
    background: #0369a1;
}


/* CARTES */

.features {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px 20px;
    flex-wrap: wrap;
}


.card {
    background: #1e293b;
    width: 280px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}


.card h3 {
    color: #38bdf8;
    margin-bottom: 15px;
}


/* FOOTER */

footer {
    text-align: center;
    padding: 30px;
    background: #0f172a;
    margin-top: 50px;
}
